<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig4cloud.pig.dc.biz.mapper.OscMajorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pig4cloud.pig.dc.api.entity.OscMajor">
        <id column="id" property="id" />
        <result column="major_name" property="majorName" />
        <result column="major_name_eng" property="majorNameEng" />
        <result column="university_id" property="universityId" />
        <result column="college_id" property="collegeId" />
        <result column="education_level" property="educationLevel" />
        <result column="desc_content" property="descContent" />
        <result column="requirement_content" property="requirementContent" />
        <result column="member_content" property="memberContent" />
        <result column="recommend_flag" property="recommendFlag" />
        <result column="lock_flag" property="lockFlag" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
    </resultMap>

	<select id="selectMajorList" resultType="com.pig4cloud.pig.dc.api.vo.OscMajorVo">
		SELECT
			om.id id,
			om.major_name majorName,
			om.major_name_eng majorNameEng,
			om.education_level educationLevel,
		    om.major_type majorType,
			ou.university_name universityName,
			ou.university_name_eng universityNameEng,
			ou.logo_url logoUrl,
			ou.qs_rank qsRank,
			ou.country_name countryName,
			ou.province_name provinceName,
			ou.city_name cityName,
			oc.college_name collegeName,
			oc.college_name_eng collegeNameEng
		FROM
			osc_major om
				LEFT JOIN osc_university ou ON om.university_id = ou.id
				LEFT JOIN osc_college oc ON om.college_id = oc.id
				LEFT JOIN osc_area oa ON ou.area_id = oa.id

		WHERE
			om.del_flag = 0
		<if test="param.universityId !=null   ">
			and   om.university_id=  #{param.universityId}
		</if>
		<if test="param.collegeId !=null   ">
			and   om.college_id=  #{param.collegeId}
		</if>
		<if test="param.educationLevel !=null   ">
			and   om.education_level=  #{param.educationLevel}
		</if>
		<if test="param.majorType !=null  and param.majorType!=''  ">
			and   om.major_type=  #{param.majorType}
		</if>
		<if test="param.areaId !=null  and param.areaId!=''  ">
			and   ou.area_id=  #{param.areaId}
		</if>
		<if test="param.keyword!=null and param.keyword!='' ">
			and   (
			om.major_name like concat('%', #{param.keyword},'%')
			or om.major_name_eng like concat('%', #{param.keyword},'%')

			or ou.university_name like concat('%', #{param.keyword},'%')
			or ou.university_name_eng like concat('%', #{param.keyword},'%')
			or ou.country_name like concat('%', #{param.keyword},'%')
			or ou.province_name like concat('%', #{param.keyword},'%')
			or ou.city_name like concat('%', #{param.keyword},'%')

			or oc.college_name like concat('%', #{param.keyword},'%')
			or oc.college_name_eng like concat('%', #{param.keyword},'%')
			)
		</if>
	</select>

	<select id="selectMajor" resultType="com.pig4cloud.pig.dc.api.vo.OscMajorDetailsVo">
		SELECT
		om.id id,
		om.major_name majorName,
		om.major_name_eng majorNameEng,
		om.education_level educationLevel,
		om.major_type majorType,
		om.not_member_content notMemberContent,
		ou.id universityId,
		ou.university_name universityName,
		ou.university_name_eng universityNameEng,
		ou.logo_url logoUrl,
		ou.qs_rank qsRank,
		ou.country_name countryName,
		ou.province_name provinceName,
		ou.city_name cityName,
		oc.id collegeId,
		oc.college_name collegeName,
		oc.college_name_eng collegeNameEng,
		om.desc_content majorDescContent,
		om.requirement_content majorRequirementContent,
		om.member_content majorMemberContent,
		ou.image_url universityImageUrl,
		ou.content universityDescContent

		FROM
		osc_major om
		LEFT JOIN osc_university ou ON om.university_id = ou.id
		LEFT JOIN osc_college oc ON om.college_id = oc.id
		LEFT JOIN osc_area oa ON ou.area_id = oa.id

		WHERE
		om.del_flag = 0
		and   om.id=  #{id}
	</select>

	<select id="search" resultType="com.pig4cloud.pig.dc.api.vo.IndexSearchVo2">
		SELECT
			0 id,
			0 type,
			'' imageUrl ,
			'' title,
			'' content1,
			'' content2,
			'' content3,
			'' content4,
			'' content5
		FROM
			osc_offer
		WHERE
			1=2

        <if test="param.type==null or param.type==0 or param.type==1">
			union ALL
			(SELECT
			oo.id id,
			1 type,
			oo.image_url imageUrl ,
			oo.stu_name title,
			oo.school_desc content1,
			oo.major_name content2,
			'' content3,
			'' content4,
			'' content5
			from
			osc_offer oo
			WHERE
			oo.del_flag=0
			<if test="param.keyword!=null and param.keyword!='' ">
				and   (
				oo.stu_name like concat('%', #{param.keyword},'%')
				or oo.school_desc like concat('%', #{param.keyword},'%')
				or oo.major_name like concat('%', #{param.keyword},'%')
				)
			</if>
			<if test="param.type!=null and param.type==0 ">
				LIMIT 8
			</if>
			)

		</if>

		<if test="param.type==null or param.type==0 or param.type==2">
			union ALL
			(SELECT
			one.id id,
			2 type,
			one.iocn_url imageUrl,
			one.title  title,
			one.web_url content1,
			'' content2,
			'' content3,
			'' content4,
			'' content5
			from
			osc_news one
			WHERE
			one.del_flag=0
			<if test="param.keyword!=null and param.keyword!='' ">
				and   (
				one.title like concat('%', #{param.keyword},'%')
				)
			</if>
			<if test="param.type!=null and param.type==0 ">
				LIMIT 8
			</if>
			)
		</if>

		<if test="param.type==null or param.type==0 or param.type==3">
			union ALL

			(SELECT
			ou.id id,
			3 type,
			ou.logo_url imageUrl,
			ou.university_name   title,
			oa.area_name content1,
			CONCAT(ou.country_name,'|',IFNULL(ou.province_name,''),'|',IFNULL(ou.city_name,'')) content2,
			ou.qs_rank content3,
			'' content4,
			'' content5
			FROM
			osc_university   ou
			LEFT JOIN osc_university_college ouc ON ou.id = ouc.university_id
			LEFT JOIN osc_college oc ON ouc.college_id = oc.id
			LEFT JOIN osc_area oa ON ou.area_id = oa.id
			WHERE
			ou.del_flag = 0
			<if test="param.keyword!=null and param.keyword!='' ">
				and   (
				ou.university_name  like concat('%', #{param.keyword},'%')
				or oa.area_name like concat('%', #{param.keyword},'%')
				or ou.country_name like concat('%', #{param.keyword},'%')
				)
			</if>
			<if test="param.type!=null and param.type==0 ">
				LIMIT 8
			</if>
			)
		</if>

		<if test="param.type==null or param.type==0 or param.type==4">
			union ALL

			(SELECT
			om.id id,
			4 type,
			ou.logo_url imageUrl,
			om.major_name  title,
			ou.university_name content1,
			oa.area_name content2,
			ou.qs_rank content3,
			oc.college_name content4,
			om.education_level content5
			FROM
			osc_major om
			LEFT JOIN osc_university ou ON om.university_id = ou.id
			LEFT JOIN osc_college oc ON om.college_id = oc.id
			LEFT JOIN osc_area oa ON ou.area_id = oa.id

			WHERE
			om.del_flag = 0
			<if test="param.keyword!=null and param.keyword!='' ">
				and   (
				om.major_name  like concat('%', #{param.keyword},'%')
				or om.major_type like concat('%', #{param.keyword},'%')
				or ou.university_name like concat('%', #{param.keyword},'%')
				or oc.college_name like concat('%', #{param.keyword},'%')
				)
			</if>
			<if test="param.type!=null and param.type==0 ">
				LIMIT 8
			</if>
			)
		</if>

		<if test="param.type==null or param.type==0 or param.type==5">
			union ALL

			(SELECT
			op.id id,
			5 type,
			op.image_url imageUrl,
			op.product_name  title,
			op.product_price content1,
			'' content2,
			'' content3,
			'' content3,
			'' content5
			FROM
			osc_product op
			WHERE
			op.del_flag = 0
			<if test="param.keyword!=null and param.keyword!='' ">
				and   (
				op.product_name  like concat('%', #{param.keyword},'%')
				)
			</if>
			<if test="param.type!=null and param.type==0 ">
				LIMIT 8
			</if>
			)
		</if>



	</select>

</mapper>
