<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig4cloud.pig.dc.biz.mapper.OscOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pig4cloud.pig.dc.api.entity.OscOrder">
        <id column="id" property="id" />
        <result column="order_num" property="orderNum" />
        <result column="order_type" property="orderType" />
        <result column="pay_type" property="payType" />
        <result column="order_amount" property="orderAmount" />
        <result column="order_status" property="orderStatus" />
        <result column="cancel_time" property="cancelTime" />
        <result column="pay_time" property="payTime" />
        <result column="refund_apply_time" property="refundApplyTime" />
        <result column="refund_time" property="refundTime" />
        <result column="write_off_time" property="writeOffTime" />
        <result column="prepay_id" property="prepayId" />
        <result column="third_party_id" property="thirdPartyId" />
        <result column="lock_flag" property="lockFlag" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
    </resultMap>
</mapper>
