<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig4cloud.pig.dc.biz.mapper.OscOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pig4cloud.pig.dc.api.entity.OscOrder">
        <id column="id" property="id" />
        <result column="order_num" property="orderNum" />
        <result column="order_type" property="orderType" />
        <result column="pay_type" property="payType" />
        <result column="order_amount" property="orderAmount" />
        <result column="order_status" property="orderStatus" />
        <result column="cancel_time" property="cancelTime" />
        <result column="pay_time" property="payTime" />
        <result column="refund_apply_time" property="refundApplyTime" />
        <result column="refund_time" property="refundTime" />
        <result column="write_off_time" property="writeOffTime" />
        <result column="prepay_id" property="prepayId" />
        <result column="third_party_id" property="thirdPartyId" />
        <result column="lock_flag" property="lockFlag" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
    </resultMap>



	<resultMap type="com.pig4cloud.pig.dc.api.vo.OrderVo" id="orderMap">
		<result property="id" column="id"/>
		<result property="orderStatus" column="order_status"/>
		<result property="orderNum" column="order_num"/>
		<result property="thirdPartyId" column="third_party_id"/>
		<result property="createTime" column="create_time"/>
		<result property="cancelTime" column="cancel_time"/>
		<result property="payTime" column="pay_time"/>
		<result property="writeOffTime" column="write_off_time"/>
		<result property="userId" column="user_id"/>
		<result property="orderAmount" column="order_amount"/>
		<result property="realname" column="realname"/>
		<result property="phone" column="phone"/>


		<collection property="products"  column="id"  ofType="com.pig4cloud.pig.dc.api.vo.OrderProductVo">
			<result column="image_url" property="imageUrl" />
			<result column="product_name" property="productName" />
			<result column="product_single_price" property="productSinglePrice" />
			<result column="product_quantity" property="productQuantity" />
			<result column="product_total_price" property="productTotalPrice" />

		</collection>
	</resultMap>

	<sql id="where_case" >
	<if test="param.userId !=null   ">
		and   oo.user_id=  #{param.userId}
	</if>
	<if test="param.orderStatus !=null   ">
		and   oo.order_status=  #{param.orderStatus}
	</if>
	<if test="param.createTimeStart !=null    ">
		and   oo.create_time &gt;=  #{param.createTimeStart}
	</if>
	<if test="param.createTimeEnd !=null    ">
		and   oo.create_time &lt;=  #{param.createTimeEnd}
	</if>


	<if test="param.keyword!=null and param.keyword!='' ">
		and   (
		oui.realname like concat('%', #{param.keyword},'%')

		or oui.phone like concat('%', #{param.keyword},'%')

		or oo.third_party_id like concat('%', #{param.keyword},'%')

		or oop.product_name like concat('%', #{param.keyword},'%')

		)
	</if>
	</sql>

	<select id="selectOrders" resultMap="orderMap" >

		SELECT
			oo.id ,
			oo.order_status,
			oo.order_num ,
			oo.third_party_id ,
			oo.create_time ,
			oo.cancel_time ,
			oo.pay_time ,
			oo.write_off_time ,
			oo.user_id ,
			oo.order_amount ,

			oui.realname ,
			oui.phone ,

		    op.image_url,
			oop.product_name,
			oop.product_single_price,
			oop.product_quantity,
			oop.product_total_price
		FROM
			osc_order oo
				LEFT JOIN osc_order_product oop ON oo.id=oop.order_id
				LEFT JOIN osc_user_info oui on oo.user_id=oui.user_id
		        LEFT JOIN osc_product op on oop.product_id=op.id
		WHERE
			oo.order_type=1 and oo.del_flag=0
		<include refid="where_case"></include>


	</select>


	<select id="selectOrdersCount" resultType="com.pig4cloud.pig.dc.api.vo.OrderCountVo" >
		SELECT
			oo.order_status orderStatus,
			COUNT(1) orderCount
		FROM
		osc_order oo
		LEFT JOIN osc_order_product oop ON oo.id=oop.order_id
		LEFT JOIN osc_user_info oui on oo.user_id=oui.user_id
		WHERE
		oo.order_type=1 and oo.del_flag=0
		<include refid="where_case"></include>
		GROUP BY oo.order_status

	</select>


	<select id="selectOrderById" resultMap="orderMap" >

	SELECT
		oo.id ,
		oo.order_status,
		oo.order_num ,
		oo.third_party_id ,
		oo.create_time ,
		oo.cancel_time ,
		oo.pay_time ,
		oo.write_off_time ,
		oo.user_id ,
		oo.order_amount ,

		oui.realname ,
		oui.phone ,

		op.image_url,
		oop.product_name,
		oop.product_single_price,
		oop.product_quantity,
		oop.product_total_price
	FROM
	 osc_order oo
	LEFT JOIN osc_order_product oop ON oo.id=oop.order_id
	LEFT JOIN osc_user_info oui on oo.user_id=oui.user_id
	LEFT JOIN osc_product op on oop.product_id=op.id
	WHERE
	oo.order_type=1 and oo.del_flag=0
    and oo.id= #{id}
	</select>
</mapper>
